### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Java ###
*.class

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### VS Code ###
.vscode/

### Spring Boot ###
# 로그 파일
*.log

# OS 별 생성 파일
.DS_Store
Thumbs.db

### Lombok ###
*.lombok.log

### 기타: IDE, 툴, 테스트 등 ###
bin/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej

### Properties ###
*.properties