<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <div id="header_box" class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
            <div class="me-5">
                <a th:href="@{/}"><img src="/images/icon/logo2.png" width="220" height="70"></a>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="header-menu">
                    <a th:href="@{/hospitals}" class="header-menu-text">병원 찾기</a>
                </div>
                <div class="header-menu">
                    <a th:href="@{/pharmacies}" class="header-menu-text">약국 찾기</a>
                </div>
                <!--
                <div class="header-menu">
                    <a th:href="@{/consultings}" class="header-menu-text">의료 상담</a>
                </div>
                <div class="header-menu">
                    <a th:href="@{/health/healthBlog}" class="header-menu-text">건강 블로그</a>
                </div>-->
                <div class="header-menu" id="dictionary_menu">
                    <a class="header-menu-text">의료 백과사전</a>
                    <div id="dictionary_menu_div">
                        <div class="dictionary-menu-item">
                            <a th:href="@{/diseases}" class="text-black-6">질병 백과사전</a>
                        </div>
                        <div class="select-line"></div>
                        <div class="dictionary-menu-item">
                            <a th:href="@{/drugs}" class="text-black-6">의약품 백과사전</a>
                        </div>
                    </div>
                </div>
                <!--<div class="header-menu">
                    <a th:href="@{/medichatCommunity/list}" class="header-menu-text">커뮤니티</a>
                </div>
                <div class="header-menu">
                    <a th:href="@{/faq/faqList}" class="header-menu-text">고객센터</a>
                </div>-->
                <th:block sec:authorize="hasRole('ADMIN')">
                    <div class="header-menu">
                        <a th:href="@{/notifications/send}" class="header-menu-text">알림 보내기(관리자)</a>
                    </div>
                </th:block>
            </div>
        </div>

        <div class="d-flex justify-content-end align-items-center">
            <th:block sec:authorize="isAnonymous()">
                <div id="header-status-logout" class="d-flex">
                    <div class="header-status-leftBox">
                        <a id="header-login-text">로그인</a>
                        <div id="header-login-div" style="display: none;">
                            <div class="header-login-select">
                                <a th:href="@{/users/login}">일반 로그인</a>
                            </div>
                            <div class="select-line"></div>
                            <div class="header-login-select">
                                <a th:href="@{/doctors/login}">의사 로그인</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-status-rightBox">
                        <a id="header-register-text">회원가입</a>
                        <div id="header-register-div" style="display: none;">
                            <div class="header-register-select">
                                <a th:href="@{/users/register}">일반 회원가입</a>
                            </div>
                            <div class="select-line"></div>
                            <div class="header-register-select">
                                <a th:href="@{/doctors/registerDoc}">의사 회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <div id="header-status-login" class="d-flex align-items-center">
                    <div class="header-status-leftBox">
                        <img id="header-notification" src="/images/icon/notification.png" width="35" height="35">
                        <span id="header-notification-unreaded" class="fs-10 translate-middle badge rounded-pill bg-danger" th:text="${noti_cnt}"></span>
                    </div>
                    <div class="header-status-rightBox">
                        <div class="text-center">
                            <img id="header-profile" th:src="${profile != null} ? ${profile} : @{/images/icon/face.png}" width="40" height="40" class="border rounded-circle">
                        </div>
                    </div>
                    <div id="header-status-div" style="display: none;">
                        <div class="header-status-select">
                            <a th:href="@{/users/myPage}">내 정보</a>
                        </div>
                        <div class="select-line"></div>
                        <div class="header-status-select">
                            <a th:href="@{/users/logout}">로그아웃</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <div id="noti_div" style="display:none;" class="bg-white">
        <div class="fw-7 fs-20 text-dark-7 text-center mb-4">알림 내역</div>
        <div id="noti_box"></div>
    </div>
    <div class="overlay" id="overlay"></div>
    <script th:inline="javascript">
        const loginUser = [[${loginUser}]];
        const search = [[${session.search}]];
    </script>
</div>
</html>