<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_member}">>
<head>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}" />
    <script th:src="@{/js/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/postcode.v2.js}"></script>
</head>
<body>
    <div layout:fragment="body">
        <div class="container">
            <h2 class="title">회원가입</h2>
            <hr>
            <span style="font-weight:bold;">정보입력</span>
            <br>
            <span class="title2">회원가입에 필요한 정보를 입력합니다.</span>

            <form th:action="@{/register}" th:object="${member}" method="post" id="member_register">
                <div class="form-main">
                    <ul>
                        <li style="margin-top:20px;">
                            <label for="memId">아이디</label>
                            <input type="text" id="memId" th:field="*{memId}" placeholder="영문or숫자사용하여 4~12자 입력" class="effect-1" style="width:290px;" autocomplete="off"/>
                            <input type="button" id="confirmId" value="중복확인" class="default-btn" style="margin-left: 10px; background-color:#40916C;">
                            <div th:if="${#fields.hasErrors('memId')}" th:errors="*{memId}" class="error-color"></div>
                            <span id="message_id"></span>
                        </li>
                        <li>
                            <label for="memPasswd">비밀번호</label>
                            <input type="password" id="memPasswd" th:field="*{memPasswd}" placeholder="영문,숫자 사용하여 4~12자 입력" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('memPasswd')}" th:errors="*{memPasswd}" class="error-color"></div>
                        </li>
                        <li>
                            <label for="memName">이름</label>
                            <input type="text" id="memName" th:field="*{memName}" placeholder="이름" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('memName')}" th:errors="*{memName}" class="error-color"></div>
                        </li>
                        <li>
                            <label for="memBirth">생년월일</label>
                            <input type="text" id="memBirth" name="memBirth" placeholder="년-월-일" class="effect-1"/>
                            <button type="button" id="calendarButton">
                                <img th:src="@{/images/icon/calendar.jpg}" style="width:30px; height:30px; margin-right:5px;">
                            </button>
                            <div th:if="${#fields.hasErrors('memBirth')}" th:errors="*{memBirth}" class="error-color" style="margin-left:5px;"></div>
                        </li>
                        <li>
                            <label for="memEmail">이메일</label>
                            <input type="text" id="memEmail" th:field="*{memEmail}" placeholder="test@test.com 형식으로 입력" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('memEmail')}" th:errors="*{memEmail}" class="error-color"></div>
                        </li>
                        <li>
                            <label for="memPhone">전화번호</label>
                            <input type="text" id="memPhone" th:field="*{memPhone}" placeholder="'-'를 제외하고 입력" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('memPhone')}" th:errors="*{memPhone}" class="error-color"></div>
                        </li>
                        <li>
                            <label for="memZipcode">주소</label>
                            <input type="text" id="memZipcode" th:field="*{memZipcode}" class="effect-1"/>
                            <input type="button" onclick="execDaumPostcode()" value="우편번호" class="default-btn" style="margin:0 2px; background-color:#40916C;">
                            <input type="text" id="memAddress1" th:field="*{memAddress1}" class="effect-1"/>
                            <br>
                            <div th:if="${#fields.hasErrors('memZipcode')}" th:errors="*{memZipcode}" class="error-color" style="margin-left:200px;"></div>
                            <div th:if="${#fields.hasErrors('memAddress1')}" th:errors="*{memAddress1}" class="error-color" style="margin-left:110px;"></div>
                        </li>
                        <li>
                            <label for="memAddress2">상세주소</label>
                            <input type="text" id="memAddress2" th:field="*{memAddress2}" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('memAddress2')}" th:errors="*{memAddress2}" class="error-color"></div>
                        </li>
                    </ul>
                </div>

                <hr>

                <div style="text-align:right;">
                    <input type="button" value="홈으로" onclick="location.href='/'">
                    <button type="submit" class="default-btn fw-7 fs-17">가입완료</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>