<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_user}">>
<head>
    <link rel="stylesheet" th:href="@{/css/common/sweetalert2.min.css}" />
    <script th:src="@{/js/common/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/common/postcode.v2.js}"></script>
</head>
<body>
    <div layout:fragment="body">
        <div class="container">
            <h2 class="title">회원가입</h2>
            <hr>
            <span style="font-weight:bold;">정보입력</span>
            <br>
            <span class="title2">회원가입에 필요한 정보를 입력합니다.</span>

            <form th:action="@{/users/register}" th:object="${user}" method="post" id="member_register">
                <div class="form-main">
                    <ul>
                        <li style="margin-top:20px;">
                            <label th:for="memId">아이디</label>
                            <input type="text" id="memId" name="memId" th:field="*{id}" placeholder="영문 or 숫자 사용하여 4~12자 입력" class="effect-1" style="width:290px;" autocomplete="off"/>
                            <input type="button" id="confirmId" value="중복확인" class="default-btn" style="margin-left: 10px; background-color:#40916C;">
                            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="error-color"></span>
                            <span id="messageId"></span>
                        </li>
                        <li>
                            <label for="memPasswd">비밀번호</label>
                            <input type="password" id="memPasswd" th:field="*{password}" placeholder="영문,숫자 사용하여 4~12자 입력" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-color"></div>
                        </li>
                        <!--<li>
                            <label for="memName">이름</label>
                            <input type="text" id="memName" th:field="*{name}" placeholder="이름" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-color"></div>
                        </li>
                        <li>
                            <label for="memBirth">생년월일</label>
                            <input type="text" id="memBirth" name="memBirth" th:field="*{birth}" placeholder="년-월-일" class="effect-1"/>
                            <button type="button" id="calendarButton">
                                <img th:src="@{/images/icon/calendar.jpg}" style="width:30px; height:30px; margin-right:5px;">
                            </button>
                            <div th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="error-color"></div>
                        </li>
                        <li>
                            <label for="memEmail">이메일</label>
                            <input type="text" id="memEmail" th:field="*{email}" placeholder="test@test.com 형식으로 입력" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-color"></div>
                        </li>
                        <li>
                            <label for="memPhone">전화번호</label>
                            <input type="text" id="memPhone" th:field="*{phone}" placeholder="'-'를 제외하고 입력" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error-color"></div>
                        </li>
                        <li>
                            <label for="memZipcode">주소</label>
                            <input type="text" id="memZipcode" th:field="*{zipcode}" class="effect-1"/>
                            <input type="button" id="btnPostcode" value="우편번호" class="default-btn" style="margin:0 2px; background-color:#40916C;"/>
                            <input type="text" id="memAddress1" th:field="*{address}" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}" class="error-color"></div>
                            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error-color"></div>
                        </li>
                        <li>
                            <label for="memAddress2">상세주소</label>
                            <input type="text" id="memAddress2" th:field="*{addressDetail}" class="effect-1"/>
                            <div th:if="${#fields.hasErrors('addressDetail')}" th:errors="*{addressDetail}" class="error-color"></div>
                        </li>-->
                    </ul>
                </div>

                <hr>

                <div style="text-align:right;">
                    <input type="button" id="reload_btn" value="홈으로" onclick="location.href='/'">
                    <button type="submit" class="default-btn fw-7 fs-17">가입완료</button>
                </div>
            </form>
        </div>
        <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
        </div>
    </div>
</body>
</html>