<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_disease}">
<head>
    <meta charset="UTF-8">
    <title>질병 백과사전</title>
</head>
<body>
    <div layout:fragment="body">
        <div class="page-main">
            <div class="page-one">
                <h5 class="text-lightgray fw-7 fs-13">홈 > 질병 백과사전</h5>
                <h1 style="margin-top:16px;">
                    <img src="/images/icon/dictionary.png" width="45px"/>
                    <b>질병 백과사전</b>
                </h1>
                <br>
                <form class="align-center" id="form-disease" action="${pageContext.request.contextPath}/disease/diseaseDictionary" method="get">
                    <div class="container-input" style="width:500px; margin:0 auto;">
                        <div class="d-flex justify-content-center align-items-center " >
                            <select name="keyfield" id="selectinput" class="form-control">
                                <option value="" disabled th:selected="${#strings.isEmpty(keyfield)}">선택</option>
                                <option value="1" th:selected="${keyfield == 1}">질병명</option>
                                <option value="2" th:selected="${keyfield == 2}">증상</option>
                                <option value="3" th:selected="${keyfield == 3}">질병명 또는 증상</option>
                            </select>
                            <input type="text" id="h-search" class="form-control" placeholder="검색어를 입력하세요." name="keyword" th:value="${session.search.keyword}">
                            <img id="h-search-icon" width="30px" height="30px" src="/images/icon/search.png">
                        </div>
                    </div>
                </form>
                <hr size="1" width="100%">
                <table style="width:90%; margin:0 auto;" class="fs-18 fw-4">
                    <tr class="table-light align-center bg-gray-1">
                        <th class="fs-18 fw-4 disease-name-th">병명</th>
                    </tr>
                    <th:block th:each="disease : ${diseases}">
                        <tr>
                            <td class="fs-18 fw-4">
                                <a th:href="@{/{code}(code=${disease.code})}" th:text="${disease.name}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="line"></td>
                        </tr>
                    </th:block>
                </table>

                <div class="align-center">
                    1
                </div>
            </div>
        </div>
    </div>
</body>
</html>