<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_hospital}">
<head>
    <meta charset="UTF-8">
    <title>병원 찾기</title>
</head>
<body>
<div layout:fragment="body">
        <!-- 카테고리 시작 -->
        <div>
            <div class="p-3">
                <p class="text-lightgray fw-7 fs-13">홈 &gt; 병원 찾기</p>
                <h4 class="text-black fw-6 fs-21 mb-4">병원 찾기</h4>
                <p class="text-lightgray fw-6 fs-13 mb-1">병원 예약하고 편하게 방문해보세요</p>
                <h4 class="text-black-6 fw-7 fs-23">어떤 병원을 찾으세요?</h4>
            </div>
            <div class="row justify-content-between px-3">
                <div class="col-2" th:each="item : ${basicSubjects}">
                    <div class="subject rounded-2 bg-gray-0 text-center" th:attr="data-keyword=${item.name}">
                        <p class="sub-icon">
                            <img th:src="@{/images/subIcon/{icon}(icon=${item.icon})}" width="30" height="30">
                        </p>
                        <p class="sub-name" th:text="${item.name}"></p>
                    </div>
                </div>
            </div>

            <div class="line mt-3"></div>
            <div id="more">
                <p class="text-lightgray fw-7">더 보기</p>
            </div>
            <div class="line"></div>

            <div class="overlay" id="overlay"></div>
            <div id="more_box" class="p-5 rounded-top-3 border bg-white" style="display: none;">
                <h5 class="fw-8">진료과목 선택</h5>
                <div th:each="department : ${departmentList}">
                    <div class="sub-item d-flex justify-content-between rounded-3" th:attr="data-keyword=${department.departmentName}">
                        <div class="py-3">
                            <h5 class="text-black-6 fw-8 fs-17" th:text="${department.departmentName}"></h5>
                            <h5 class="text-gray-6 fw-7 fs-14" th:text="${department.departmentDescription}"></h5>
                        </div>
                        <div class="sub-img">
                            <img width="50" height="50" th:src="@{/images/subIcon/{icon}.png(icon=${department.departmentEnName})}" />
                        </div>
                    </div>
                    <div class="mbline"></div>
                </div>
            </div>
        </div>
        <div style="height:17px;" class="bg-gray-0"></div>

        <div class="p-4">
            <h4 class="text-black-7 fw-6 mb-4" style="font-size: 20px;">어떻게 아프신가요?</h4>
            <div class="row justify-content-between">
                <div class="col-2" th:each="disease : ${howSick}">
                    <div class="hs-item rounded-2 bg-green-6" th:attr="data-keyword=${disease.diseaseName}">
                        <p class="text-center" th:text="${disease.diseaseName}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="line"></div>
        <div style="height:14px;" class="bg-gray-0"></div>

        <div class="p-5">
            <form id="search_form" class="d-flex" method="get" th:action="@{/hospitals/search}">
                <input type="text" id="h-search" name="keyword" class="form-control" placeholder="병원 이름, 지역 + 과목, 증상">
                <img id="h-search-icon" src="/images/icon/search.png" width="30" height="30">
            </form>
            <p class="text-lightgray fw-7 mt-3">인기 검색어</p>
            <div class="d-inline">
                <div class="hkw-item border text-center rounded-5 bg-gray-1 px-2" th:each="hkw : ${hotKeyWord}" th:attr="data-keyword=${hkw.diseaseName}">
                    <p class="hkw fs-14 fw-7 text-gray-7" th:text="'#' + ${hkw.diseaseName}"></p>
                </div>
            </div>
        </div>

        <div class="line"></div>
        <div style="height:20px;" class="bg-gray-0"></div>

        <div id="mapDiv">
            <h4 class="fw-7 my-4 fs-22">내 주변 병원</h4>
            <div th:replace="~{hospital/map :: map}"></div>
        </div>
    </div>
</body>
</html>