<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_hospital}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="body" class="p-3">
    <p class="text-lightgray fw-7 fs-13">홈 > 병원 찾기 > 검색 결과</p>
    <!-- 검색 창 시작 -->
    <form id="search_form" method="get" th:action="@{/hospitals/search}">
        <input type="hidden" id="lat" name="user_lat" th:value="${filter.user_lat}">
        <input type="hidden" id="lon" name="user_lon" th:value="${filter.user_lon}">
        <input type="hidden" id="sortType" name="sortType" th:value="${filter.sortType}">
        <input type="hidden" id="commonFilter" name="commonFilter" th:value="${filter.commonFilter}">
        <input type="hidden" id="around" name="around" th:value="${filter.around}">
        <input type="hidden" id="page" name="page" th:value="${pageable.getPageNumber()}">
        <input type="hidden" id="size" name="size" th:value="${pageable.getPageSize()}">

        <div class="d-flex justify-content-center align-items-center">
            <img id="search_back" src="/images/icon/back.png" width="20" height="20">
            <input type="text" id="h-search" class="form-control" placeholder="병원 이름, 지역 + 과목, 증상" name="keyword" th:value="${filter.keyword}">
            <img id="h-search-icon" src="/images/icon/search.png" width="30" height="30">
        </div>
        <!-- 검색 모드 시작 -->
        <div class="d-flex justify-content-start align-items-center m-3">
            <div id="filter-img-box">
                <img src="/images/icon/filter.png" width="20" height="20">
            </div>
            <div class="border-end" style="height: 40px;"></div>
            <!-- SortType -->
            <div id="moreSortType" class="filter-item" th:switch="${filter.sortType}">
                <span th:case="'NEAR'">가까운 순</span>
                <span th:case="'REVIEW'">리뷰 순</span>
                <span th:case="'SCORE'">평점 순</span>
                <span th:case="'HIT'">조회 순</span>
                &nbsp;<img src="/images/icon/down.png" width="10" height="10">
            </div>
            <div class="overlay" id="overlay"></div>
            <div id="more_box" class="p-5 rounded-top-3 border bg-white" style="display: none; height: 300px;">
                <h5 class="fw-8">어떤 기준으로 정렬할까요?</h5>
                <div class="sortType-item" data-sortType="NEAR">
                    거리 가까운 순
                </div>
                <div class="sortType-item" data-sortType="REVIEW">
                    리뷰 많은 순
                </div>
                <div class="sortType-item" data-sortType="SCORE">
                    평점 높은 순
                </div>
                <div class="sortType-item" data-sortType="HIT">
                    조회수 높은 순
                </div>
            </div>
            <!-- commonFilter -->
            <div class="filter-item filter-item-selected" th:attr="data-commonFilter=${filter.commonFilter}">내 위치</div>
            <div class="filter-item" data-commonFilter="NONFACE">비대면 진료</div>
            <div class="filter-item" data-commonFilter="ING">진료 중</div>
            <div class="filter-item" data-commonFilter="NIGHTTIME">야간 진료</div>
            <div class="filter-item" data-commonFilter="WEEKEND">주말 진료</div>
        </div>
    </form>
    <!-- 병원 리스트 시작 -->
    <div id="hospitalListBox">
        <!--ajax로 초기화하기 위해 주석 처리-->
        <!--<th:block th:each="hospital : ${hospitals}">
            <div class="hospital-box" th:attr="data-hosNum=${hospital.hosNum}">
                <div class="d-flex align-items-center">
                    <div class="hospital-name fs-17 fw-8 text-black-6" th:text="${hospital.hosName}">병원이름</div>
                    &lt;!&ndash;<div class="ms-3 d-flex align-items-center" th:if="${hospital.rev_avg != '0.0'}">
                        <img src="/images/star.png" width="15" height="15">
                        <span class="fs-14 fw-7 ms-1" th:text="${hospital.rev_avg}">4.5</span>
                    </div>&ndash;&gt;
                </div>

                &lt;!&ndash;<div class="hospital-around fs-11 fw-9 text-gray-7" th:text="${hospital.around + 'm'}">100m</div>&ndash;&gt;

                <div class="hospital-open fs-13 fw-7 text-black-4 d-flex align-items-center">
                    &lt;!&ndash; day에 따라 변수 timeS, timeC 설정 &ndash;&gt;
                    <th:block th:with="
                        timeS=${filter.day == 1 ? hospital.hosTime1S :
                                filter.day == 2 ? hospital.hosTime2S :
                                filter.day == 3 ? hospital.hosTime3S :
                                filter.day == 4 ? hospital.hosTime4S :
                                filter.day == 5 ? hospital.hosTime5S :
                                filter.day == 6 ? hospital.hosTime6S : hospital.hosTime7S},
                        timeC=${filter.day == 1 ? hospital.hosTime1C :
                                filter.day == 2 ? hospital.hosTime2C :
                                filter.day == 3 ? hospital.hosTime3C :
                                filter.day == 4 ? hospital.hosTime4C :
                                filter.day == 5 ? hospital.hosTime5C :
                                filter.day == 6 ? hospital.hosTime6C : hospital.hosTime7C}
                    ">
                        &lt;!&ndash; 진료 중 &ndash;&gt;
                        <th:block th:if="${timeS != 'null' || timeC != 'null'}">
                            <th:block th:if="${timeS <= filter.time and filter.time < timeC}">
                                <div class="greenCircle"></div>진료중
                                &nbsp;<div class="vr"></div>&nbsp;
                                <span th:text="${#strings.substring(timeC,0,2)} + ':' + ${#strings.substring(timeC,2,4)} + ' 마감'"></span>
                            </th:block>
                            &lt;!&ndash; 진료 종료 &ndash;&gt;
                            <th:block th:if="${timeS > filter.time or timeC <= filter.time}">
                                <div class="redCircle"></div>진료종료
                                &nbsp;<div class="vr"></div>&nbsp;
                                <span th:if="${param['hosTime' + ((filter.day % 7) + 1) + 'S']} != 'null'">
                                    내일<span th:text="${#strings.substring(param['hosTime' + ((filter.day % 7) + 1) + 'S'], 0, 2)}"></span>:<span th:text="${#strings.substring(param['hosTime' + ((filter.day % 7) + 1) + 'S'], 2, 4)}"></span> 오픈
                                </span>
                            </th:block>
                        </th:block>
                    </th:block>
                </div>
                <div class="hospital-address fs-12 fw-7 text-black-3" th:text="${hospital.hosAddr}"></div>
            </div>
            <div class="line"></div>
        </th:block>-->
    </div>
</div>
</body>
</html>